<div class="row-fluid">
    <div class="col-lg-3 " style="border: 1px solid red">
        <h2 class="text-left">Groups</h2>
        <input type="text" ng-model="name" ng-focus="text=''" ng-minlength="2" required placeholder="Add new group">
        <button class="btn btn-success" ng-click="saveNewGroup()">Add</button>
        <ul class="list-group">
            <div class="panel" ng-repeat="group in groups" >
                <li class="list-group-item"> {{group.name}}</li><input type="text" ng-model="albumName" required placeholder="Add new album"> <button class="btn btn-primary" ng-click="newAlbum(group, albumName)">New album</button>
            
                <div ng-repeat="album in group.albums" >
                    <ul class="list-group" >
                        <li class="list-group-item"> {{album.name}}</li>
                    </ul>
                </div>
            </div>

        </ul>
    </div>
    <div class="col-lg-9 " style="border: 1px solid green">
        <h2 class="text-left">dilldall</h2>
        <div class="row-fluid" style="border: 0px solid orange">
            asderewrwerewrasdsad
            <div ui-view=""></div>
        </div>
    </div>
</div>