


asdsadaadadsdasd

<!--<div class="container-fluid" style="border: 1px solid black">
  <div class="row-fluid"><div class="list-group">
      asasdasd
      <input type="text" placeholder="Add a new group"><button class="btn btn-primary" ng-click="addGroup()">Add</button>
      adasd
      <div ng-repeat="group in groups">
        <div ng-repeat="album in group.albums">
          <a ui-sref="app.albums.entries({albumId: '{{album.id}}'})"  class="list-group-item" >{{album.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>-->