<div class="container-fluid" style="border: 0px solid black">
  <div class="row-fluid">
    <div class="btn-group button-menu">
      <button class="btn btn-med btn-default dimmed" ng-click="openGroupModal()">
        Add group
      </button>
      
    </div>
    &nbsp;
    &nbsp;
    <div class="btn-group button-menu">
      <button class="btn btn-med btn-default dimmed" ng-click="openPostModal()">
        Add post
      </button>
      
    </div>
    &nbsp;
    &nbsp;
    <div class="btn-group button-menu">
      <button class="btn btn-med btn-default dimmed" ng-click="openInviteModal()">
        Invite
      </button>
      
    </div>
  </div>
  <div class="row-fluid" style="border: 0px solid black">
    <div ui-view></div>
  </div>
</div>